.dashboard{
    margin-top: 80px;
    width: 70vw;
    margin-inline: auto;
}
.emppty{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
  
}
.emppty p{
  font-size: 2rem;
  color: gray;
}
.continue_shopping{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2874F0;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s  ease-in-out;
}
.continue_shopping:hover{
  background-color: #5b94f1;
}
.username{
    font-size: 1.5rem;
    padding-inline: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.form_order{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.total{
  margin-block: 30px;
  border-radius: 10px;
  width: 70vw;
  margin-inline: auto;
  padding-inline: 40px;
  padding-block: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px rgb(187, 186, 186);
}



.form_order input,textarea{
  height: 50px;
  width: 50%;
  border: none;
  padding-left: 15px;
  border-radius: 10px;
}
.detail_form{
    display: flex;
    flex-direction: column ;
    width: 70%;
    gap: 20px;
}


.order_btn {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.order_btn:disabled {
  cursor: default;
  opacity: .3;
}

.order_btn:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.order_btn:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.order_btn:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
.taking_details{
    height: 40px;
    width: 400px;
}

